<% if lovings.any? %>
  <ul class="list-unstyled mt-2">
    <% lovings.each do |loving| %>
      <li class="d-flex">
        <img class="rounded me-2 mb-5" src="<%= gravatar_url(micropost.user, { size: 64 }) %>" alt="">
        <div>
          <div>
            <%= link_to book.user.name, user_path(book.user), class: "text-decoration-none" %> <span class="text-muted">posted at <%= book.created_at %></span>
          </div>
          <div>
            <p><%= book.title %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%== pagy_bootstrap_nav(@pagy) %>
<% end %>