  <h1>自分の投稿したレビュー一覧</h1>

  <p>投稿内容</p>
  
  <table class="table table-bordered">
  <thead>
        <tr>
          <th scope="col-sm-1">user_id</th>
          <th scope="col-sm-3">name</th>
          <th scope="col-sm-3">title/author</th>
          <th scope="col-sm-4">content</th>
          <th scope="col-sm-1">created_at</th>
        </tr>
      </thead>
      <tbody>
      <tr>
    <% $curent_user_review1s.each do |review1| %>  
      <th scope="row"><%= review1.user_id %></th>
        <td><%= review1.name %></td>
        <td><%= review1.title %><br><%= review1.author %></td>
        <td><%= review1.content %></td>
        <td><%= review1.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>

  review1s/personal_review1s
  
  
  