<%= stylesheet_link_tag "review1s", :media => "all" %>
  <p>レビュー一覧　※ 左が最新の投稿、右が古い投稿になります。</p>
<% if $review1s.any?%>
<table class="table table-bordered">
  <tbody>
    <tr>
    <% $review1s.each do |review1| %>  
      <th scope="col-sm-3">
        <figure>
          <figcaption>No.<%= review1.id %></figcaption>
          <p class="image_tag"><%= image_tag review1.image_url,width: '100%', height: '100%' %></p>
          <figcaption>title: <%= link_to review1.title, review1s_book_review1s_path(title: review1.title), class: "text-decoration-none" %><br> author: <%= review1.author %></figcaption>
          <figcaption>review: <%= review1.content %></figcaption>
          <figcaption>number: <%= review1.user_id %>  name: <%= link_to review1.name, review1s_user_path(id: review1.user_id), class: "text-decoration-none" %></figcaption>
          <figcaption>time: <%= review1.created_at %></figcaption>
        </figure>
      </th>  
    <% end %>
    </tr>
  </tbody>
</table>
<% else %>
投稿はありません。
<% end %>
 
  
  