<%= stylesheet_link_tag "all", :media => "all" %>
<body>
<div class = "row">
  <aside class="col-sm-4">
    <figure>
      <%= image_tag $image_url,width: '50%', height: '140%' %>
      <figcaption><%= $title %><%= $author %></figcaption>
    </figure>
    <%= form_with(model: @review1) do |f| %>
      <div class="mb-3">
        <%= f.text_area :content, class: 'form-control', rows: 5 %>
      </div>
        <%= f.submit 'Post', class: 'btn btn-primary w-100' %>
    <% end %>
  </aside>
  <div class="col-sm-8">
    <%= render 'review1s/book_review1s', review1s: @review1s %>
  </div>
</div>
</body>